@model SV22T1020163.Models.Sales.OrderViewInfo
@{
    Layout = null;
}
<form method="post" asp-action="Reject" asp-route-id="@Model.OrderID">
    <input type="hidden" name="confirm" value="yes" />
    <div class="modal-header text-bg-danger">
        <strong class="modal-title">Từ chối đơn hàng #@Model.OrderID</strong>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
    </div>
    <div class="modal-body">
        <div class="alert alert-danger d-flex align-items-center">
            <i class="bi bi-info-circle me-2"></i>
            Bạn có thực sự muốn từ chối đơn hàng <b>#@Model.OrderID</b> của khách hàng <b>@Model.CustomerName</b> không?
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-danger">
            <i class="bi bi-x-circle"></i> Từ chối
        </button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
    </div>
</form>
