@model SV22T1020163.Models.Sales.OrderViewInfo
@{
    Layout = null;
}
<form method="post" asp-action="Cancel" asp-route-id="@Model.OrderID">
    <input type="hidden" name="confirm" value="yes" />
    <div class="modal-header text-bg-warning">
        <strong class="modal-title">Hủy đơn hàng #@Model.OrderID</strong>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
    </div>
    <div class="modal-body">
        <div class="alert alert-warning d-flex align-items-center">
            <i class="bi bi-info-circle me-2"></i>
            Bạn có thực sự muốn hủy đơn hàng <b>#@Model.OrderID</b> không?
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-warning">
            <i class="bi bi-x-circle"></i> Hủy đơn hàng
        </button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
    </div>
</form>
