@model SV22T1020163.Models.Sales.OrderViewInfo
@{
    Layout = null;
    var shippers = ViewBag.Shippers as SV22T1020163.Models.Common.PagedResult<SV22T1020163.Models.Partner.Shipper>;
}
<form method="post" asp-action="Shipping" asp-route-id="@Model.OrderID">
    <div class="modal-header text-bg-info">
        <strong class="modal-title">Chọn người giao hàng - Đơn #@Model.OrderID</strong>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-12">
                <label class="form-label">Người giao hàng</label>
                <select name="shipperID" class="form-select" required
                        oninvalid="this.setCustomValidity('Vui lòng chọn người giao hàng trong danh sách')"
                        onchange="this.setCustomValidity('')">
        
                    <option value="">-- Chọn người giao hàng --</option>
                    @if (shippers != null)
                    {
                        foreach (var s in shippers.DataItems)
                        {
                            <option value="@s.ShipperID">@s.ShipperName</option>
                        }
                    }
                </select>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary">
            <i class="bi bi-bicycle"></i> Giao hàng
        </button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
    </div>
</form>
